import java.util.Scanner;

public class TriangleChecker {
    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);

        // Введення трьох сторін трикутника
        System.out.println("Введіть першу сторону трикутника:");
        int sideA = scanner.nextInt();
        System.out.println("Введіть другу сторону трикутника:");
        int sideB = scanner.nextInt();
        System.out.println("Введіть третю сторону трикутника:");
        int sideC = scanner.nextInt();

        // Перевірка на існування трикутника
        if (sideA + sideB > sideC && sideA + sideC > sideB && sideB + sideC > sideA) {
            System.out.println("Трикутник може існувати.");

            // Визначення типу трикутника
            if (sideA == sideB && sideB == sideC) {
                System.out.println("Трикутник є рівностороннім.");
            } else if (sideA == sideB || sideA == sideC || sideB == sideC) {
                System.out.println("Трикутник є рівнобедреним.");
            } else {
                System.out.println("Трикутник є різностороннім.");
            }

        } else {
            System.out.println("Трикутник не може існувати з такими сторонами.");
        }
    }
}
